
S2_Projeto-MVC_DS/UI_ProjetoDS/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
*.cache
S2_Projeto-MVC_DS/.vs/S2_Projeto-MVC_DS/v16/.suo
S2_Projeto-MVC_DS/.vs/S2_Projeto-MVC_DS/v16/.suo
S2_Projeto-MVC_DS/DAL_ProjetoDS/obj/Debug/DAL_ProjetoDS.csprojAssemblyReference.cache
